#This files are not in the github repo:
#Pycharm Files
*.idea
#Virtual Environment
*venv
*env

#Cache:
*__pycache__

#Plot Data:
*plots
*logs

#Pickle
*.pkl

#BrainStudy:
#Put your data here:
BrainStudy/data/*
BrainStudy/models/*

#Runs (Training Log):
BrainStudy/runs*
target.csv
